.ui-state-default.slick-header-column span.slick-column-name  {
 overflow: visible;
}

.quickAddContactDialog
{
	height:100% !important;
	width:100% !important;
}

.quickAddContactDialog .ui-dialog-content
{
	    max-height: none !important;
}

.ui-dialog
{
	overflow-y: scroll !important;
}

.del
{
	width:100% !important;
	background-color: #158ace; 
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

input[type=submit]:hover{
    text-decoration:underline;
    cursor: pointer;
}

.searchAutoCompleteListItem a
{
    height: 22px !important; 
}
