/* line 1, scss/_compass-resets.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, scss/_compass-resets.scss */
html {
  line-height: 1;
}

/* line 26, scss/_compass-resets.scss */
ol, ul {
  list-style: none;
}

/* line 30, scss/_compass-resets.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 35, scss/_compass-resets.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 41, scss/_compass-resets.scss */
q, blockquote {
  quotes: none;
}

/* line 45, scss/_compass-resets.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 50, scss/_compass-resets.scss */
a img {
  border: none;
}

/* line 54, scss/_compass-resets.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 347, ../../../ACEAssets/client/assets/scss/_mixins-Nov2018.scss */
.fw-m-bold {
  font-weight: 500;
}

/* line 352, ../../../ACEAssets/client/assets/scss/_mixins-Nov2018.scss */
.fw-b {
  font-weight: 700;
}

/** custom styles for PS coverage form**/
/* line 11, scss/ps/PS_CoverageForm.scss */
.ps-coverage-form-grid.aceDialog {
  height: 100% !important;
  width: 100% !important;
  min-width: 310px !important;
  overflow: hidden !important;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 0px;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: #fff;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  right: 0 !important;
}

/* line 29, scss/ps/PS_CoverageForm.scss */
.ps-coverage-form-grid.aceDialog .ui-dialog-titlebar {
  height: auto;
  border: 0 dotted #515151;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 50px;
  background-color: #2776bd!important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 8px;
}

/* line 40, scss/ps/PS_CoverageForm.scss */
.ps-coverage-form-grid.aceDialog.aceDialog.ui-draggable .ui-dialog-titlebar {
  cursor: default;
}

/* line 45, scss/ps/PS_CoverageForm.scss */
.ps-coverage-form-grid.aceDialog .ui-dialog-title {
  color: #ffffff;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: block;
  /* text-align: center; */
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 3rem;
  white-space: nowrap;
  overflow: HIDDEN;
  text-overflow: ellipsis;
  margin: 0 20px 0 10px;
}

/* line 61, scss/ps/PS_CoverageForm.scss */
.ps-coverage-form-grid.aceDialog .coverageFormDialog.ui-dialog-content {
  background-color: #f5f5f5;
  margin: 0;
  padding: 16px;
  border: none;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

/* line 73, scss/ps/PS_CoverageForm.scss */
.ps-coverage-form-grid.aceDialog .coverageForm {
  margin: 0;
  border: none;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
          box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
  background-color: #ffffff;
  padding: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

/* line 91, scss/ps/PS_CoverageForm.scss */
.ps-coverage-form-grid.aceDialog .parentContainer {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 16px;
}

/* line 97, scss/ps/PS_CoverageForm.scss */
.ps-coverage-form-grid.aceDialog .parentContainer label {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 120px;
  margin: 0 !important;
}

/* line 106, scss/ps/PS_CoverageForm.scss */
.ps-coverage-form-grid.aceDialog .parentContainer.readOnly span.required {
  display: none !important;
}

/* line 113, scss/ps/PS_CoverageForm.scss */
.ps-coverage-form-grid.aceDialog .parentContainer .editControlContainer,
.ps-coverage-form-grid.aceDialog .parentContainer .editControlLabelContainer {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 200px;
  max-width: 400px;
  margin: 0;
}

/* line 122, scss/ps/PS_CoverageForm.scss */
.ps-coverage-form-grid.aceDialog .parentContainer.readOnly .editControlLabel {
  height: 17px;
  cursor: default;
}

/* line 126, scss/ps/PS_CoverageForm.scss */
.ps-coverage-form-grid.aceDialog .parentContainer.readOnly .editControlLabel:hover {
  color: #515151;
}

/* line 132, scss/ps/PS_CoverageForm.scss */
.ps-coverage-form-grid.aceDialog .parentContainer.Grid {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 0;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

/* line 142, scss/ps/PS_CoverageForm.scss */
.ps-coverage-form-grid.aceDialog .editControlContainer .menuButton {
  color: #757575;
  border: 1px solid #B7BFC8;
  border-radius: 4px;
  font-family: "Roboto", sans-serif !important;
  font-size: 0.8rem;
  height: 24px;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  background-image: url("../images/png/icon-arrow_down--default.png");
  background-repeat: no-repeat;
  background-position: center right 4px;
  background-color: #FFF;
  padding-top: 2px !important;
  padding-right: 20px !important;
  padding-bottom: 2px !important;
  padding-left: 8px !important;
  text-align: left;
  cursor: pointer;
  line-height: 0;
  font-family: "Roboto", sans-serif !important;
  width: 100%;
}

/* line 170, scss/ps/PS_CoverageForm.scss */
.ps-coverage-form-grid.aceDialog .editControlContainer .menuButton:hover {
  border: 1px solid #8DA7C5;
  background-image: url("../images/png/icon-arrow_down--hover.png");
}

/* line 176, scss/ps/PS_CoverageForm.scss */
.ps-coverage-form-grid.aceDialog .editControlContainer .menuButton:focus, .ps-coverage-form-grid.aceDialog .editControlContainer .menuButton:active {
  border: 1px solid #2776BD;
  background-image: url("../images/png/icon-arrow_down--focus.png");
}

/* line 182, scss/ps/PS_CoverageForm.scss */
.ps-coverage-form-grid.aceDialog .editControlContainer .menuButton[disabled] {
  border: 1px solid #D8D8D8;
  color: #999;
  background-image: url("../images/png/icon-arrow_down--disabled.png");
  cursor: auto;
}

/* line 190, scss/ps/PS_CoverageForm.scss */
.ps-coverage-form-grid.aceDialog .editControlContainer .menuButton[required], .ps-coverage-form-grid.aceDialog .editControlContainer .menuButton.menuButton.requiredField, .ps-coverage-form-grid.aceDialog .editControlContainer .menuButton.requiredField.error {
  border-left: 4px solid #D0021B;
}

/* line 195, scss/ps/PS_CoverageForm.scss */
.ps-coverage-form-grid.aceDialog .editControlContainer .menuButton.error {
  border: 1px solid #D0021B;
}

/* line 203, scss/ps/PS_CoverageForm.scss */
.ps-coverage-form-grid.aceDialog .menuButtonContainer:focus {
  outline: none;
  border: 0px solid white;
  background-color: #FFF;
}

/* line 212, scss/ps/PS_CoverageForm.scss */
.ps-coverage-form-grid.aceDialog .parentContainer input.ui-autocomplete-input,
.ps-coverage-form-grid.aceDialog .parentContainer.Date .editControlLabel,
.ps-coverage-form-grid.aceDialog .parentContainer.Date input.hasDatepicker,
.ps-coverage-form-grid.aceDialog .parentContainer.Date .labelMaskPrompt {
  color: #757575;
  border: 1px solid #B7BFC8;
  border-radius: 4px;
  font-family: "Roboto", sans-serif !important;
  font-size: 0.8rem;
  height: 24px;
  width: 100%;
  min-width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  background: url("../images/png/icon-calendar--default.png") no-repeat center left 4px;
  padding: 2px 16px 2px 24px;
  cursor: pointer;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  margin: 0;
  text-indent: 0 !important;
  line-height: 1.5;
}

/* line 243, scss/ps/PS_CoverageForm.scss */
.ps-coverage-form-grid.aceDialog .parentContainer input.ui-autocomplete-input :hover,
.ps-coverage-form-grid.aceDialog .parentContainer.Date .editControlLabel :hover,
.ps-coverage-form-grid.aceDialog .parentContainer.Date input.hasDatepicker :hover,
.ps-coverage-form-grid.aceDialog .parentContainer.Date .labelMaskPrompt :hover {
  border: 1px solid #8DA7C5;
  background: url("../images/png/icon-calendar--hover.png") no-repeat center left 4px;
}

/* line 249, scss/ps/PS_CoverageForm.scss */
.ps-coverage-form-grid.aceDialog .parentContainer input.ui-autocomplete-input:active, .ps-coverage-form-grid.aceDialog .parentContainer input.ui-autocomplete-input:focus,
.ps-coverage-form-grid.aceDialog .parentContainer.Date .editControlLabel:active,
.ps-coverage-form-grid.aceDialog .parentContainer.Date .editControlLabel:focus,
.ps-coverage-form-grid.aceDialog .parentContainer.Date input.hasDatepicker:active,
.ps-coverage-form-grid.aceDialog .parentContainer.Date input.hasDatepicker:focus,
.ps-coverage-form-grid.aceDialog .parentContainer.Date .labelMaskPrompt:active,
.ps-coverage-form-grid.aceDialog .parentContainer.Date .labelMaskPrompt:focus {
  border: 1px solid #2776BD !important;
  background: url("../images/png/icon-calendar--focus.png") no-repeat center left 4px;
}

/* line 257, scss/ps/PS_CoverageForm.scss */
.ps-coverage-form-grid.aceDialog .parentContainer input.ui-autocomplete-input.requiredField,
.ps-coverage-form-grid.aceDialog .parentContainer.Date .editControlLabel.requiredField,
.ps-coverage-form-grid.aceDialog .parentContainer.Date input.hasDatepicker.requiredField,
.ps-coverage-form-grid.aceDialog .parentContainer.Date .labelMaskPrompt.requiredField {
  border-left: 4px solid #e53953 !important;
}

/* line 260, scss/ps/PS_CoverageForm.scss */
.ps-coverage-form-grid.aceDialog .parentContainer input.ui-autocomplete-input.requiredField:hover, .ps-coverage-form-grid.aceDialog .parentContainer input.ui-autocomplete-input.requiredField:active, .ps-coverage-form-grid.aceDialog .parentContainer input.ui-autocomplete-input.requiredField:focus,
.ps-coverage-form-grid.aceDialog .parentContainer.Date .editControlLabel.requiredField:hover,
.ps-coverage-form-grid.aceDialog .parentContainer.Date .editControlLabel.requiredField:active,
.ps-coverage-form-grid.aceDialog .parentContainer.Date .editControlLabel.requiredField:focus,
.ps-coverage-form-grid.aceDialog .parentContainer.Date input.hasDatepicker.requiredField:hover,
.ps-coverage-form-grid.aceDialog .parentContainer.Date input.hasDatepicker.requiredField:active,
.ps-coverage-form-grid.aceDialog .parentContainer.Date input.hasDatepicker.requiredField:focus,
.ps-coverage-form-grid.aceDialog .parentContainer.Date .labelMaskPrompt.requiredField:hover,
.ps-coverage-form-grid.aceDialog .parentContainer.Date .labelMaskPrompt.requiredField:active,
.ps-coverage-form-grid.aceDialog .parentContainer.Date .labelMaskPrompt.requiredField:focus {
  border-left: 4px solid #e53953;
}

/* line 267, scss/ps/PS_CoverageForm.scss */
.ps-coverage-form-grid.aceDialog .parentContainer input.ui-autocomplete-input.requiredField .editControlLabelContainer,
.ps-coverage-form-grid.aceDialog .parentContainer.Date .editControlLabel.requiredField .editControlLabelContainer,
.ps-coverage-form-grid.aceDialog .parentContainer.Date input.hasDatepicker.requiredField .editControlLabelContainer,
.ps-coverage-form-grid.aceDialog .parentContainer.Date .labelMaskPrompt.requiredField .editControlLabelContainer {
  border-left: 4px solid #e53953;
}

/* line 276, scss/ps/PS_CoverageForm.scss */
.ps-coverage-form-grid.aceDialog .parentContainer input.ui-autocomplete-input {
  background: url("../images/png/icon-search--default.png") no-repeat center left 4px !important;
}

/* line 279, scss/ps/PS_CoverageForm.scss */
.ps-coverage-form-grid.aceDialog .parentContainer input.ui-autocomplete-input:hover {
  background: url("../images/png/icon-search--hover.png") no-repeat center left 4px !important;
}

/* line 284, scss/ps/PS_CoverageForm.scss */
.ps-coverage-form-grid.aceDialog .parentContainer input.ui-autocomplete-input:active {
  background: url("../images/png/icon-search--focus.png") no-repeat center left 4px !important;
}

/* line 289, scss/ps/PS_CoverageForm.scss */
.ps-coverage-form-grid.aceDialog .parentContainer input.ui-autocomplete-input:focus {
  background: url("../images/png/icon-search--focus.png") no-repeat center left 4px !important;
}

/* line 302, scss/ps/PS_CoverageForm.scss */
.ps-coverage-form-grid.aceDialog .parentContainer.Date.requiredField .editControlLabel,
.ps-coverage-form-grid.aceDialog .parentContainer.Date.requiredField .editControlContainer input {
  border-left: 4px solid #e53953 !important;
}

/* line 306, scss/ps/PS_CoverageForm.scss */
.ps-coverage-form-grid.aceDialog .parentContainer.Date.requiredField .editControlLabel:hover, .ps-coverage-form-grid.aceDialog .parentContainer.Date.requiredField .editControlLabel:active, .ps-coverage-form-grid.aceDialog .parentContainer.Date.requiredField .editControlLabel:focus,
.ps-coverage-form-grid.aceDialog .parentContainer.Date.requiredField .editControlContainer input:hover,
.ps-coverage-form-grid.aceDialog .parentContainer.Date.requiredField .editControlContainer input:active,
.ps-coverage-form-grid.aceDialog .parentContainer.Date.requiredField .editControlContainer input:focus {
  border-left: 4px solid #e53953;
}

/* line 316, scss/ps/PS_CoverageForm.scss */
.ps-coverage-form-grid.aceDialog .ui-dialog-buttonpane {
  border-top: none !important;
  margin-top: 0 !important;
}

/* line 322, scss/ps/PS_CoverageForm.scss */
.ps-coverage-form-grid.aceDialog .ui-dialog-buttonset .confirmButton {
  color: #FFF;
  background-color: #2776BD !important;
  border-color: transparent;
  height: 32px;
  padding: 4px 16px 4px 16px !important;
  font-size: 0.8rem !important;
  border: transparent !important;
}

/* line 331, scss/ps/PS_CoverageForm.scss */
.ps-coverage-form-grid.aceDialog .ui-dialog-buttonset .confirmButton:hover, .ps-coverage-form-grid.aceDialog .ui-dialog-buttonset .confirmButton:active, .ps-coverage-form-grid.aceDialog .ui-dialog-buttonset .confirmButton:focus {
  background-color: #336EA3 !important;
  border: transparent !important;
}

/* line 341, scss/ps/PS_CoverageForm.scss */
.ps-coverage-form-grid.aceDialog .ui-dialog-buttonset .cancelButton {
  color: #2776BD !important;
  background-color: transparent;
  border-color: transparent;
  height: 32px;
  padding: 4px 16px 4px 16px !important;
  font-size: 0.8rem !important;
  border: transparent !important;
}

/* line 350, scss/ps/PS_CoverageForm.scss */
.ps-coverage-form-grid.aceDialog .ui-dialog-buttonset .cancelButton:hover, .ps-coverage-form-grid.aceDialog .ui-dialog-buttonset .cancelButton:active, .ps-coverage-form-grid.aceDialog .ui-dialog-buttonset .cancelButton:focus {
  background-color: #C4D9ED !important;
  border: transparent !important;
}

/* line 362, scss/ps/PS_CoverageForm.scss */
.ps-coverage-form-grid.aceDialog .parentContainer.Grid {
  min-height: 208px;
}

/* line 365, scss/ps/PS_CoverageForm.scss */
.ps-coverage-form-grid.aceDialog .parentContainer.Grid label {
  margin-bottom: 8px !important;
  align-items  : normal;
}

/* line 370, scss/ps/PS_CoverageForm.scss */
.ps-coverage-form-grid.aceDialog .parentContainer.Grid .additionalInfoForm.aceDataGrid {
  border: 1px solid #BEBEBE;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-family: "Roboto", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 180px;
}

/* line 381, scss/ps/PS_CoverageForm.scss */
.ps-coverage-form-grid.aceDialog .parentContainer.Grid .additionalInfoForm.aceDataGrid .slick-resizable-handle .massMax {
  display: none;
}

/* line 394, scss/ps/PS_CoverageForm.scss */
.ps-coverage-form-grid.aceDialog .parentContainer.Grid .additionalInfoForm.aceDataGrid .slick-cell input[type="checkbox"] {
  margin-left: 0;
  margin-top: 5px;
}

/* line 400, scss/ps/PS_CoverageForm.scss */
.ps-coverage-form-grid.aceDialog .parentContainer.Grid .additionalInfoForm.aceDataGrid .ui-state-default {
  color: #1B87c9;
  border: 1px solid #eeeeee;
  border-left: 0px;
  background: #eeeeee;
  background-image: none;
  font-weight: 500;
  cursor: pointer;
}

/* line 412, scss/ps/PS_CoverageForm.scss */
.ps-coverage-form-grid.aceDialog .parentContainer.Grid .additionalInfoForm.aceDataGrid .ui-state-default.slick-header-column {
  color: #484848;
  border: 1px solid #BEBEBE;
  border-top: 0px;
  border-left: 0px;
  background: #E2E2E2;
  background-image: none;
  font-weight: 500;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
}

/* line 425, scss/ps/PS_CoverageForm.scss */
.ps-coverage-form-grid.aceDialog .parentContainer.Grid .additionalInfoForm.aceDataGrid .ui-state-default.slick-header-column .massMax, .ps-coverage-form-grid.aceDialog .parentContainer.Grid .additionalInfoForm.aceDataGrid .ui-state-default.slick-header-column .massMin {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 0;
  background-size: 16px 16px;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

/* line 447, scss/ps/PS_CoverageForm.scss */
.ps-coverage-form-grid.aceDialog .parentContainer.Grid .additionalInfoForm.aceDataGrid .ui-state-default.slick-header-column span.slick-sort-indicator.slick-sort-indicator-asc,
.ps-coverage-form-grid.aceDialog .parentContainer.Grid .additionalInfoForm.aceDataGrid .ui-state-default.slick-header-column span.slick-sort-indicator.slick-sort-indicator-desc {
  background-repeat: no-repeat !important;
  background-position: center center !important;
  background-size: 16px 16px !important;
  width: 16px !important;
  height: 100% !important;
  margin-left: 11px !important;
  margin-top: 0;
  margin-bottom: 0;
  float: none;
  position: relative;
}

/* line 462, scss/ps/PS_CoverageForm.scss */
.ps-coverage-form-grid.aceDialog .parentContainer.Grid .additionalInfoForm.aceDataGrid .ui-state-default.slick-header-column .slick-sort-indicator-desc {
  background-image: url("../images/png/icon-sort-down--default.png") !important;
}

/* line 467, scss/ps/PS_CoverageForm.scss */
.ps-coverage-form-grid.aceDialog .parentContainer.Grid .additionalInfoForm.aceDataGrid .ui-state-default.slick-header-column .slick-sort-indicator-asc {
  background-image: url("../images/png/icon-sort-up--default.png") !important;
}

/* line 472, scss/ps/PS_CoverageForm.scss */
.ps-coverage-form-grid.aceDialog .parentContainer.Grid .additionalInfoForm.aceDataGrid .ui-state-default.slick-header-column:hover {
  color: #484848;
  border: 1px solid #BEBEBE;
  border-left: 0px;
  border-top: 0px;
  background: #D8D8D8;
  font-weight: 500;
  cursor: pointer;
}

/* line 481, scss/ps/PS_CoverageForm.scss */
.ps-coverage-form-grid.aceDialog .parentContainer.Grid .additionalInfoForm.aceDataGrid .ui-state-default.slick-header-column:hover .slick-sort-indicator-desc {
  background-image: url("../images/png/icon-sort-down--focus.png") !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  background-size: 16px 16px !important;
  width: 16px !important;
  height: 100% !important;
  margin-left: 11px !important;
  margin-top: 0;
  margin-bottom: 0;
  float: none;
  position: relative;
}

/* line 496, scss/ps/PS_CoverageForm.scss */
.ps-coverage-form-grid.aceDialog .parentContainer.Grid .additionalInfoForm.aceDataGrid .ui-state-default.slick-header-column:hover .slick-sort-indicator-asc {
  background-image: url("../images/png/icon-sort-up--focus.png") !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  background-size: 16px 16px !important;
  width: 16px !important;
  height: 100% !important;
  margin-left: 11px !important;
  margin-top: 0;
  margin-bottom: 0;
  float: none;
  position: relative;
}

/* line 513, scss/ps/PS_CoverageForm.scss */
.ps-coverage-form-grid.aceDialog .parentContainer.Grid .additionalInfoForm.aceDataGrid .ui-state-default.slick-header-column:hover .massMax {
  background-image: url("../images/png/chevron_expand--active.png") !important;
}

/* line 518, scss/ps/PS_CoverageForm.scss */
.ps-coverage-form-grid.aceDialog .parentContainer.Grid .additionalInfoForm.aceDataGrid .ui-state-default.slick-header-column:hover .massMin {
  background-image: url("../images/png/chevron_collapse--active.png") !important;
}

/* line 525, scss/ps/PS_CoverageForm.scss */
.ps-coverage-form-grid.aceDialog .parentContainer.Grid .additionalInfoForm.aceDataGrid .ui-state-default.slick-header-column:active {
  color: #ffffff;
  border: 1px solid #1B87c9;
  border-left: 0px;
  border-top: 0px;
  background: #1B87c9;
  font-weight: 500;
  cursor: pointer;
}

/* line 534, scss/ps/PS_CoverageForm.scss */
.ps-coverage-form-grid.aceDialog .parentContainer.Grid .additionalInfoForm.aceDataGrid .ui-state-default.slick-header-column:active .slick-sort-indicator-desc {
  background-image: url("../images/png/icon-sort-down--focus_FFF.png") !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  background-size: 16px 16px !important;
  width: 16px !important;
  height: 100% !important;
  margin-left: 11px !important;
  margin-top: 0;
  margin-bottom: 0;
  float: none;
  position: relative;
}

/* line 549, scss/ps/PS_CoverageForm.scss */
.ps-coverage-form-grid.aceDialog .parentContainer.Grid .additionalInfoForm.aceDataGrid .ui-state-default.slick-header-column:active .slick-sort-indicator-asc {
  background-image: url("../images/png/icon-sort-up--focus_FFF.png") !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  background-size: 16px 16px !important;
  width: 16px !important;
  height: 100% !important;
  margin-left: 11px !important;
  margin-top: 0;
  margin-bottom: 0;
  float: none;
  position: relative;
}

/* line 581, scss/ps/PS_CoverageForm.scss */
.ps-coverage-form-grid.aceDialog .parentContainer.Grid .additionalInfoForm.aceDataGrid .ui-state-default.slick-header.slick-header-left {
  border-bottom: none;
}

/* line 586, scss/ps/PS_CoverageForm.scss */
.ps-coverage-form-grid.aceDialog .parentContainer.Grid .additionalInfoForm.aceDataGrid .slick-cell {
  font-size: 0.8rem;
  color: #484848;
  border: 1px solid transparent;
  background-color: transparent;
  border-right: 1px solid #B7BFC8;
  border-bottom: 1px solid #B7BFC8;
  background-color: #FFF;
  line-height: 22px;
  position: absolute;
  z-index: 1;
  padding: 1px 2px 2px 2px;
  margin: 0;
  cursor: default;
  white-space: nowrap;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
}

/* line 618, scss/ps/PS_CoverageForm.scss */
.ps-coverage-form-grid.aceDialog .parentContainer.Grid .additionalInfoForm.aceDataGrid .slick-cell input.del {
  width: 100% !important;
  height: 22px !important;
  display: block;
  background-size: 16px 16px !important;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  cursor: pointer;
  font-size: 0%;
}

/* line 630, scss/ps/PS_CoverageForm.scss */
.ps-coverage-form-grid.aceDialog .parentContainer.Grid .additionalInfoForm.aceDataGrid .slick-cell input.del {
  background-color: transparent;
  border: none;
  background-image: url("../images/png/icon-delete--default.png");
  background-repeat: no-repeat;
  background-position: center center;
}

/* line 638, scss/ps/PS_CoverageForm.scss */
.ps-coverage-form-grid.aceDialog .parentContainer.Grid .additionalInfoForm.aceDataGrid .slick-cell input.del:hover, .ps-coverage-form-grid.aceDialog .parentContainer.Grid .additionalInfoForm.aceDataGrid .slick-cell input.del:focus, .ps-coverage-form-grid.aceDialog .parentContainer.Grid .additionalInfoForm.aceDataGrid .slick-cell input.del:active {
  background-color: transparent;
  border: none;
  background-image: url("../images/png/icon-delete--focus.png");
  background-repeat: no-repeat;
  background-position: center center;
}

/* line 649, scss/ps/PS_CoverageForm.scss */
.ps-coverage-form-grid.aceDialog .parentContainer.Grid .additionalInfoForm.aceDataGrid .slick-cell span.fakeSelect, .ps-coverage-form-grid.aceDialog .parentContainer.Grid .additionalInfoForm.aceDataGrid .slick-cell .menuButton {
  color: #484848;
  border: 1px solid #B7BFC8;
  border-radius: 4px;
  font-family: "Roboto", sans-serif !important;
  font-size: 0.8rem;
  height: 20px;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  background-image: url("../images/png/icon-arrow_down--default.png");
  background-repeat: no-repeat;
  background-position: center right 4px;
  background-color: transparent;
  padding-top: 2px !important;
  padding-right: 20px !important;
  padding-bottom: 2px !important;
  padding-left: 8px !important;
  text-align: left;
  cursor: pointer;
  line-height: 0;
  font-family: "Roboto", sans-serif !important;
  width: 100%;
  display: block;
  line-height: 1.1;
}

/* line 679, scss/ps/PS_CoverageForm.scss */
.ps-coverage-form-grid.aceDialog .parentContainer.Grid .additionalInfoForm.aceDataGrid .slick-cell span.fakeSelect:hover, .ps-coverage-form-grid.aceDialog .parentContainer.Grid .additionalInfoForm.aceDataGrid .slick-cell .menuButton:hover {
  border: 1px solid #8DA7C5;
  background-image: url("../images/png/icon-arrow_down--hover.png");
}

/* line 685, scss/ps/PS_CoverageForm.scss */
.ps-coverage-form-grid.aceDialog .parentContainer.Grid .additionalInfoForm.aceDataGrid .slick-cell span.fakeSelect:focus, .ps-coverage-form-grid.aceDialog .parentContainer.Grid .additionalInfoForm.aceDataGrid .slick-cell span.fakeSelect:active, .ps-coverage-form-grid.aceDialog .parentContainer.Grid .additionalInfoForm.aceDataGrid .slick-cell .menuButton:focus, .ps-coverage-form-grid.aceDialog .parentContainer.Grid .additionalInfoForm.aceDataGrid .slick-cell .menuButton:active {
  border: 1px solid #2776BD;
  background-image: url("../images/png/icon-arrow_down--focus.png");
}

/* line 693, scss/ps/PS_CoverageForm.scss */
.ps-coverage-form-grid.aceDialog .parentContainer.Grid .additionalInfoForm.aceDataGrid .slick-cell .fakeInput, .ps-coverage-form-grid.aceDialog .parentContainer.Grid .additionalInfoForm.aceDataGrid .slick-cell input[id="la-input"] {
  color: #484848;
  border: 1px solid #B7BFC8;
  border-radius: 4px;
  display: block;
  font-family: "Roboto", sans-serif !important;
  font-size: 0.8rem;
  height: 20px;
  width: 100%;
  min-width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  background: url("../images/png/icon-search--default.png") no-repeat center left 4px;
  padding: 2px 16px 2px 24px;
  cursor: pointer;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  margin: 0;
  text-indent: 0 !important;
  line-height: 1.1;
}

/* line 722, scss/ps/PS_CoverageForm.scss */
.ps-coverage-form-grid.aceDialog .parentContainer.Grid .additionalInfoForm.aceDataGrid .slick-cell .fakeInput :hover, .ps-coverage-form-grid.aceDialog .parentContainer.Grid .additionalInfoForm.aceDataGrid .slick-cell input[id="la-input"] :hover {
  border: 1px solid #8DA7C5;
  background: url("../images/png/icon-search--focus.png") no-repeat center left 4px;
}

/* line 728, scss/ps/PS_CoverageForm.scss */
.ps-coverage-form-grid.aceDialog .parentContainer.Grid .additionalInfoForm.aceDataGrid .slick-cell .fakeInput:active, .ps-coverage-form-grid.aceDialog .parentContainer.Grid .additionalInfoForm.aceDataGrid .slick-cell .fakeInput:focus, .ps-coverage-form-grid.aceDialog .parentContainer.Grid .additionalInfoForm.aceDataGrid .slick-cell input[id="la-input"]:active, .ps-coverage-form-grid.aceDialog .parentContainer.Grid .additionalInfoForm.aceDataGrid .slick-cell input[id="la-input"]:focus {
  border: 1px solid #2776BD !important;
  background: url("../images/png/icon-search--focus.png") no-repeat center left 4px;
}

/* line 738, scss/ps/PS_CoverageForm.scss */
.ps-coverage-form-grid.aceDialog .parentContainer.Grid .additionalInfoForm.aceDataGrid .slick-cell la-input [id="la-input-underline"] {
  display: none;
}

/* line 742, scss/ps/PS_CoverageForm.scss */
.ps-coverage-form-grid.aceDialog .parentContainer.Grid .additionalInfoForm.aceDataGrid .slick-cell .fakeDatePicker, .ps-coverage-form-grid.aceDialog .parentContainer.Grid .additionalInfoForm.aceDataGrid .slick-cell input.hasDatepicker {
  color: #484848;
  border: 1px solid #B7BFC8;
  background-color: transparent;
  border-radius: 4px;
  font-family: "Roboto", sans-serif !important;
  font-size: 0.8rem;
  height: 20px;
  width: 100%;
  min-width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  background: url("../images/png/icon-calendar--default.png") no-repeat center left 4px;
  padding: 2px 16px 2px 24px;
  cursor: pointer;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  margin: 0;
  text-indent: 0 !important;
  line-height: 1.1;
}

/* line 770, scss/ps/PS_CoverageForm.scss */
.ps-coverage-form-grid.aceDialog .parentContainer.Grid .additionalInfoForm.aceDataGrid .slick-cell .fakeDatePicker:hover, .ps-coverage-form-grid.aceDialog .parentContainer.Grid .additionalInfoForm.aceDataGrid .slick-cell input.hasDatepicker:hover {
  border: 1px solid #8DA7C5;
  background: url("../images/png/icon-calendar--hover.png") no-repeat center left 4px;
}

/* line 775, scss/ps/PS_CoverageForm.scss */
.ps-coverage-form-grid.aceDialog .parentContainer.Grid .additionalInfoForm.aceDataGrid .slick-cell .fakeDatePicker:active, .ps-coverage-form-grid.aceDialog .parentContainer.Grid .additionalInfoForm.aceDataGrid .slick-cell .fakeDatePicker:focus, .ps-coverage-form-grid.aceDialog .parentContainer.Grid .additionalInfoForm.aceDataGrid .slick-cell input.hasDatepicker:active, .ps-coverage-form-grid.aceDialog .parentContainer.Grid .additionalInfoForm.aceDataGrid .slick-cell input.hasDatepicker:focus {
  border: 1px solid #2776BD !important;
  background: url("../images/png/icon-calendar--focus.png") no-repeat center left 4px;
}

/* line 848, scss/ps/PS_CoverageForm.scss */
.ps-coverage-form-grid.aceDialog .parentContainer.Grid .additionalInfoForm.aceDataGrid .slick-row:hover .slick-cell {
  color: #484848;
  border: 1px solid transparent;
  border-right: 1px solid #B7BFC8;
  border-bottom: 1px solid #B7BFC8;
  background-color: #F2F2F2;
  display: block !important;
  background-size: 16px 16px !important;
}

/* line 869, scss/ps/PS_CoverageForm.scss */
.ps-coverage-form-grid.aceDialog .parentContainer.Grid .additionalInfoForm.aceDataGrid .slick-row:hover .slick-cell .control-indicator {
  border: 1px solid #2776BD;
}

/* line 876, scss/ps/PS_CoverageForm.scss */
.ps-coverage-form-grid.aceDialog .parentContainer.Grid .additionalInfoForm.aceDataGrid .slick-row:hover .slick-cell.dataGridHoverCell:hover {
  background-color: #fff;
  border: 1px solid #B7BFC8;
  border-radius: 4px;
  color: #484848;
  cursor: pointer;
}

/* line 890, scss/ps/PS_CoverageForm.scss */
.ps-coverage-form-grid.aceDialog .parentContainer.Grid .additionalInfoForm.aceDataGrid .slick-row.active [data-type="deleteButton"].deleteButton {
  background: url("../images/png/icon-delete--default.png") no-repeat center center !important;
}

/* line 898, scss/ps/PS_CoverageForm.scss */
.ps-coverage-form-grid.aceDialog .parentContainer.Grid .additionalInfoForm.aceDataGrid .slick-row:active .slick-cell,
.ps-coverage-form-grid.aceDialog .parentContainer.Grid .additionalInfoForm.aceDataGrid .slick-cell.selected,
.ps-coverage-form-grid.aceDialog .parentContainer.Grid .additionalInfoForm.aceDataGrid .slick-row:hover .selected {
  color: #484848;
  border: 1px solid #9AC3F4;
  border-left: 1px solid transparent;
  border-top: 1px solid transparent;
  background-color: #D4E4F2;
}

/* line 910, scss/ps/PS_CoverageForm.scss */
.ps-coverage-form-grid.aceDialog .parentContainer.Grid .additionalInfoForm.aceDataGrid .slick-row:active .slick-cell .control-indicator,
.ps-coverage-form-grid.aceDialog .parentContainer.Grid .additionalInfoForm.aceDataGrid .slick-cell.selected .control-indicator,
.ps-coverage-form-grid.aceDialog .parentContainer.Grid .additionalInfoForm.aceDataGrid .slick-row:hover .selected .control-indicator {
  border: 1px solid #2776BD;
}

/* line 916, scss/ps/PS_CoverageForm.scss */
.ps-coverage-form-grid.aceDialog .parentContainer.Grid .additionalInfoForm.aceDataGrid .slick-row:active .slick-cell .editor-text,
.ps-coverage-form-grid.aceDialog .parentContainer.Grid .additionalInfoForm.aceDataGrid .slick-cell.selected .editor-text,
.ps-coverage-form-grid.aceDialog .parentContainer.Grid .additionalInfoForm.aceDataGrid .slick-row:hover .selected .editor-text {
  background-color: #fff !important;
  height: 20px !important;
}
